
<div>
  <video id="remoteVideo" autoplay></video>
  <video id="localVideo" autoplay></video>
</div>
<div class="input">
  <label for="channel_val"> channel</label><br>
  <input id="channel_val" value="101010101"></input>
</div>

<div id="actions">
  <button id="connectButton">Connect</button>
  <!-- <button id="disconnectButton">Disconnect</button> -->
  <button id="callButton" disabled>Call</button>
  </div>
</div>